@theme {
  --color-afaq-midnight: #050A30;
  --color-afaq-deep-blue: #12229D;
  --color-afaq-afaq-blue: #233DFF;
  --color-afaq-slate: #3C4C59;
  --color-afaq-sky: #5CBCF9;
  --color-afaq-ice: #CAE8FF;
  --color-afaq-cloud: #F4F6FC;
}
